{% extends "base_ranking.html" %}
{% load post_tags %}
{% load thumbnail %}
{% load staticfiles %}


{% block title %}Posts ranking{% endblock %}


{% block content %}

<main>
  
  <input class='ranking' id="tab1" type="radio" name="tabs" checked>
  <label class='ranking' for="tab1">Most viewed</label>
    
  <input class='ranking' id="tab2" type="radio" name="tabs">
  <label class='ranking' for="tab2">Most commented</label>
    
  <input class='ranking' id="tab3" type="radio" name="tabs">
  <label class='ranking' for="tab3">Most voted</label>
    
  <input class='ranking' id="tab4" type="radio" name="tabs">
  <label class='ranking' for="tab4">Tags</label>
 
    
  <section class='ranking' id="content1">
    
    {% for post in most_viewed %}
    <div class="postdetail">
    	{% with total_likes=post.users_like.count users_like=post.users_like.all total_views=post.total_views %}
        <div class="image-info">        
                <div>
                    <span class="count">
                        <span class="total">{{ total_likes }}</span>
                        vote{{ total_likes|pluralize }}
                    </span>
                </div>
                <div>
                    <span class="count">
                        <span class="total">{{ total_views }}</span>
                        view{{ total_views|pluralize }}
                    </span>
				</div>
        </div>		
		{% endwith %}

    	<div class="info">
        	<a href="{{ post.get_absolute_url }}" class="title">{{ post.title }}</a>
    	</div>
    	
		<div class="summary">
			<p>{{ post.description|markdown|truncatewords_html:30 }}</p>
		</div>        
    
    <div class="middle">
    <div class="tags">
        <p>
        {% for tag in post.tags.all %}
            <a href="{% url "posts:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        </p>
    </div>
    <p class="date">Published {{ post.created }} by {{ post.user }}</p>
	</div>
	</div>
    {% empty %}
    {% endfor %}
  </section>
    






  <section class='ranking' id="content2">
    {% get_most_commented_posts as most_commented_posts %}
    {% for post in most_commented_posts %}

	<div class="postdetail">
    	{% with total_likes=post.users_like.count total_views=post.total_views %}
        <div class="image-info">        
                <div>
                    <span class="count">
                        <span class="total">{{ total_likes }}</span>
                        vote{{ total_likes|pluralize }}
                    </span>
                </div>
                <div>
                    <span class="count">
                        <span class="total">{{ total_views }}</span>
                        view{{ total_views|pluralize }}
                    </span>
				</div>
        </div>		
		{% endwith %}
    
    	<div class="info">
        	<a href="{{ post.get_absolute_url }}" class="title">{{ post.title }}</a>
    	</div>
        
		<div class="summary">
			<p>{{ post.description|markdown|truncatewords_html:30 }}</p>
		</div>   
        
    	<div class="middle">
    	<div class="tags">
        	<p>
        	{% for tag in post.tags.all %}
            	<a href="{% url "posts:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        	{% endfor %}
        	</p>
    	</div>
    	<div>
    		<p class="date">Published {{ post.created }} by {{ post.user }}</p>
    	</div>
		</div>
	</div>
    {% empty %}
    {% endfor %}
  </section>

  </section>
    
  <section class='ranking' id="content3">
    <h1>Development in process...</h1>
  </section>
    
  <section class='ranking' id="content4">
    <h1>Development in process...</h1>  
  </section>
    
</main>


{% endblock %}
